body {
    background-color: #212529;
    color: white;
    height: 100%;
    margin: 0;
}

.card {
    background-color: #121212;
    border: none;
    color: white;
}

/*card เด้งใส่หน้า*/
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/*button ซื้อเลย*/
.choose-btn {
    background-color: #198754;
    color: white;
}

/*button ซื้อเลย เปลียนสี*/
.choose-btn:hover {
    background-color: #145a32;
}

/*ภาพพื้นหลังheader*/
.custom-navbar {
    background: url('image/WallpeperH.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}


.cta-btn {
    background-color: #3f51b5;
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 2px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}


/*ตัวแบ่ง*/

.section {
    padding: 60px 0;
}

/*ตัวแบ่ง*/


/* feature*/
.feature-icon i {
    font-size: 3rem;
    color: #ff9800;
}

.bg-light {
    background-color: #212121 !important;
}

.feature-box {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.feature-box:hover {
    transform: scale(1.05);
}

/* feature*/

.container222 {
    background-color: #fff;
    width: 1000px;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.maintxt {
    color: #ffffff;
    font-weight: 500;
    font-size: 14.5px;
}

.name {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.para {
    color: #8c8c8c;
    font-size: 12px;
    position: relative;
    bottom: 3px;
}

.name12 {
    color: #ffcc00; /* สีเขียว */
    font-size: 18px; /* ขนาดตัวอักษร */
    font-weight: bold; /* ทำตัวหนา */
    font-family: "Arial", sans-serif; /* แบบตัวอักษร */
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* Apply the font to the .fantasy-text class */
#section-to-fade .fantasy-text {
    font-family: 'Cinzel', serif;
    /* Apply the 'Cinzel' fantasy font */
    font-size: 4rem;
    /* Adjust the font size as needed */
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.7);
    /* Optional: Add a text shadow for effect */
    color: #ffcc00;
    /* Adjust text color for better visibility */
    letter-spacing: 2px;
    /* Optional: Add spacing between letters for dramatic effect */
}